<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recetas</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!--
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toogle">
        Gestionar Receta<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Añadir a Cesta</a></li>
        <li><a href="#">Editar Receta</a></li>
        <li><a href="#">Eliminar Receta</a></li>
      </ul>
    </div>
    -->
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" 
                type="button"
                id="dropdownMenuButton" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false">
          Gestionar Receta
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Añadir a Cesta</a>
          <a class="dropdown-item" href="#">Editar Receta</a>
          <a class="dropdown-item" href="#">Eliminar Receta</a>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Descripcion
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredientes
  </div>
</div>